.button {
    width: 48px;
    height: 48px;
    background-color: #F6F6F6;
    color: #6B7385;
    font-size: 18px;
    border: 0px;
    border-radius: 5%;
}

.button:hover, .button4 {
    background-color: #2F57EF;
    color: #ffffff;
}